.links {
    padding-bottom: 3.2rem;
    a {
        padding: 1rem;
        border: 1px solid black;
        float: left;
        text-decoration: none;
        color: black;
    }
    a.hover {
        background-color: black;
        color: grey;
    }
}
.content {
    width: 95%;
    border: 1px solid black;
    padding: 1rem;
    main {
        margin-right: 1rem;
        padding-right: 0;
    }
}
